.card {
  width: 8rem;//16rem;
  height: 100%;
}

.card-text {
  font-weight: 500;
  color: grey;
}

.newPrice {
  font-size: 12px; //16px;
  color: black;
}

.oldPrice {
  text-decoration: line-through;
  font-size: 10px; //12px;
}
.card-title {
  font-size: 14px;
}


@media only screen and (max-width: 768px) and (min-width: 425px){
  // .card {
  //   width: calc(100vw/2.5) !important;
  // }
}

@media only screen and (max-width: 425px) {
  // .card-text {
  //   font-size: 14px;
  //   font-weight: bold;
  //   color: grey;
  // }

  // .card {
  //   width: 20rem !important;
  // }
}


.countParent {
  position: relative;
}
.count {
  font-size: 12px;
  position: absolute;
  top: -6px;
}

.add {
  font-size: 14px;
}
.update {
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color);
  padding: 4px 5px;
  border-radius: 5px;
  background: var(--color);
  color: #fff;
}
