/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --color: #79995A;
}
.btn-bg {
  background-color: var(--color) !important;
  border: var(--color);

  &:hover {
    background-color: #547634 !important;
    border: #547634;
  }

  &:active {
    background-color: var(--color) !important;
    border: var(--color) Im !important;
  }
  &:focus-visible {
    background-color: #547634 !important;
    border-color: #547634;
    box-shadow: 0 0 0 0.25rem #54763488;
  }
}

.btn-outline-bg {
  color: var(--color);
  border-color: var(--color);
  &:hover{
    background-color: #547634;
    box-shadow: 0 0 5px #547634;
    border-color: #547634;
  }
  &:active {
    background-color: var(--color) !important;
    border-color: var(--color) !important;
  }
  &:disabled {
    color: grey;
    border-color: grey;
  }
  &:focus-visible {
    background-color: #547634;
    border-color: #547634;
    box-shadow: 0 0 0 0.25rem #54763488;
  }
}

.text-color {
  color: #79995A !important;
}

.header2 {
  font-weight: 600;
  font-size: large;
}
::ng-deep {
  mat-checkbox{
    .mdc-form-field {
      .mdc-checkbox__background{
        background-color: #79995A !important;
        border-color: #79995A !important;
      }
    }
  }
  mat-expansion-panel.mat-expansion-panel:not([class*="mat-elevation-z"]){
    box-shadow: none !important;
    background: #d5e5f0 !important;
  }
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: black !important;
}

.cursor-pointer {
  cursor: pointer;
}

.font-14 {
  font-size: 14px !important;
}
.font-12 {
  font-size: 12px !important;
}

.backDropClass {
  backdrop-filter: blur(1px);
}

.skeleton-loader {
  width: 100%;
  height: 30px;
  display: block;
  background-color: lightgrey;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.5) 50%,rgba(255, 255, 255, 0) 80%), lightgrey;
  background-repeat: repeat-y;
  background-size: 200px 200px;
  background-position: 0 0;
  animation: load 1s infinite ease-in;
}

@keyframes load {
  100% {
    background-position: 100% 0;
  }
  
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    // background-position: 100% 0;
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton {
  width: 100%;
  height: 40px;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  animation: skeleton-loading 1s linear infinite alternate;
}